@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Object Oriented Pizza</h1>
    <p>Before being able to navigate the site, you will have to <a href="https://localhost:5001/User/Login">login</a>.</p>
    <p>If you haven't already, you can <a href="https://localhost:5001/User/Create">register here</a></p>
</div>
