@using PizzaLib;
@using PizzaWebApp.Controllers;
@{
    ViewData["Title"] = "Option";
}

<h1>Pizza added</h1>

<body>
    This one's been successfully added to your order.<br />
    You can add another, or complete the order as is.<br />
    As it stands, your current total is $<span>@(UserController.SessionStorage.total)</span><br />
    <br />
    Would you like to add another pizza to your order?<br />
    <br />
    <a href="@Url.Action("Make","Pizza")">Yes</a><br />
    <a href="@Url.Action("Finish","Order")">No</a>

</body>