
@{
    ViewData["Title"] = "OrderUp";
}

<h1>Before you order</h1>
<body>
    <p>
        Please be aware the Arlington is our only location at this time.
        <br />All orders will be processed at this location.
        <br />
        <br />Please also be aware that orders are capped at 250$, limit 1 per user per day.
        <br />Knowing this, would you like to continue with your order?
        <br />
        <br /><a href="@Url.Action("Make","Pizza")"> Yes</a>
        <br /><a href="@Url.Action("MainMenu","Home")"> No</a>
    </p>
</body>

