
@{
    ViewData["Title"] = "SlowDown";
}

<h1>Not so fast..</h1>
<body>
    <br />Our systems detect that you have placed an order within the last 24 hours.
    <br />We appreciate your custom, but for supply reasons can only serve one order per user each day.
    <br />Try again tomorrow!
    <br />
    <br /><a href="@Url.Action("MainMenu","Home")">Click here to return to main menu.</a>

</body>

