
@{
    ViewData["Title"] = "SlowDown";
}

<h1>Not so fast..</h1>
<body>
    <br />Our systems detect that you have placed an order within the last 24 hours.
    <br />We appreciate your custom, but for supply reasons can only serve one order per user every day.
    <br />Try again tomorrow!
    <br />
    <br /><a href="https://localhost:5001/Home/MainMenu">Click here to return to main menu.</a>

</body>

