
@{
    ViewData["Title"] = "WoahBuddy";
}

<h1>Not so fast..</h1>
<body>
    Our systems have detected that your current order total exceeds $250.<br />
    We warned you.<br />
    You should have listened.<br />
    Now we're gonna have to do something we really didn't wanna do.<br />
    This order has been cancelled<br />
    <br />
    <br /><a href="@Url.Action("MainMenu","Home")">Return to main menu</a>

</body>

