
@{
    ViewData["Title"] = "Clearance";
}

<h1>Please provide your store clearance code at this time. </h1>
<br />
<br />
@Html.ValidationSummary(false, "", new { @class = "text-danger" })

@*@Html.BeginForm("Clearance","Order",FormMethod.Post,antiforgery:true)*@
<form asp-action="Clearance" asp-controller="Order">
    <label for="cc"></label>
    <input type="text" value="" name="cc"><br>
    <input type="submit" value="Submit">
</form>
<br />
<br /><a href="@Url.Action("MainMenu","Home")">Return to Main Menu</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

