@using PizzaLib;
@{
    ViewData["Title"] = "Finish";
}

<h1>Complete Order</h1>

<p>
    Your order is now being submitted and will be prepared shortly. 
    Total for this order was $@(SessionStorage.total)<br />
    <br />
    <a href="@Url.Action("MainMenu","Home")">Return to main menu</a>
</p>
